/*==================
STYLES FOR BUTTON COMPONENTS
===================*/

// BTN COMMON STYLES
.btn {

    &__main {
        color: $text-color-secondary;
        font-size: 16px;
        font-weight: bold;
        line-height: 26px;
        border-radius: 6px;
        background-color: $bg-color-btn;
        padding: 12px 25px;
        cursor: pointer;
        transition: color .3s, background-color .3s;

        &:hover {
            color: #fff;
            background-color: darken($bg-color-btn, 5%);
        }

        &:focus {
            outline: 4px dotted lightblue;
        }
        
        &--fw {
            width: 100%;
            flex-basis: 100%;
        }
    }
}

