/* ==== This file classes for different utilities styles ==== */
/* ==== GENERAL UTILITIES ==== */
body {
  &.no--scroll {
    overflow: hidden;
  }
}

.visually--hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ==== IMAGE UTILITIES ==== */
.image--fluid {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* ==== BUTTON UTILITIES ==== */
.btn--reset {
    font-family: inherit;
    color: inherit;
    background: none;
    padding: 0;
    border: none;
    outline: none;
  }
  
  /* ==== COLOR UTILITIES ==== */
  
  /* ==== MEDIA QUERIES FOR UTILITIES ==== */
